
<div class="container">

  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title"><%= @user.username %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= @user.name %></h6>

        </div>
      </div>  
    </div>


 
    <div class="col-md-8">
 
  <li class="list-group-item">
     <% @tweets.each do |tweet| %>

        <%= link_to tweet, class: "list-group-item list-group-item-action" do%>
       <div class="d-flex w-100 justify-content-between">
      
        <h5 class="list-group-item-heading"><%= tweet.user.username %></h5>
        <small>3 days ago</small>
      </div>
      <p class="list-group-item-heading"><%= tweet.content %></p>

 


   <% end %> 
  <% end %>
</ul>
</tr>
 </div>
</div>
</div>
</div>
</div>





