<!DOCTYPE html>
<html>
  <head>
    <title>One Month Rails Project</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-item"><%= link_to "Home", root_path, class: "nav-link"%></a>
      </li>
         <li class="nav-item active">
        <a class="nav-item"><%= link_to "About", about_path, class: "nav-link"%></a>
      </li>
      <li class="nav-item active">
        <a class="nav-item" ><%= link_to "Contact", contactus_path, class: "nav-link"%></a>
      </li>
      <% if user_signed_in? %>
       <li class="nav-item active">
        <a class="nav-item pull-md-right"><%= link_to "Log Out", destroy_user_session_path, method: :delete, class: " nav-link btn btn-primary"%></a>
      </li>
      <% else %>
      <li class="nav-item active">
        <a class="nav-item pull-md-right"><%= link_to "Log In", new_user_session_path, class: "btn btn-primary"%></a>
      <li class="nav-item active">
        <a class="nav-item pull-md-right"><%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary"%></a>
      <% end %>

    </ul>
  </div>
</nav>


    <!--Flash messages  -->
    <% flash.each do |name, message| %>
      <%= content_tag(:div, message, class: "alert alert-info #{name}") %>
    <% end %>

    <!-- Page Content -->
    <%= yield %>
    
    <!-- Footer -->
    <footer class="small text-muted">
      <div class="container">
        <hr>
        <center>
          <p>© 2016 One Month</p>
        </center>
      </div>
    </footer>

  </body>
</html>
